@font-face{
  font-family: 'Circle';
  src: url('./fonts/lineto-circular-pro-book.ttf') format('truetype');
  src: url('./fonts/lineto-circular-pro-book.woff') format('woff');
  src: url('./fonts/lineto-circular-pro-book.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Circle', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
